body {
    font-family: Arial, sans-serif;
    background: #a6f0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* Doděláno navíc*/
    background-image: linear-gradient(to bottom, navy, #a6f0ff);
 
}
 
 
.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    width: 420px;
    text-align: center;
}
 
 
.controls {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}
 
 
.control-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
 
label {
    font-weight: bold;
    margin-bottom: 5px;
}
 
 
select {
    padding: 8px;
    border-radius: 6px;
}
 
 
.preview-box {
    margin-top: 15px;
    padding: 25px;
    border-radius: 10px;
    background: white;
    border: 1px solid #ccc;
    transition: 0.3s, color 0.3s;
}